{% extends 'base.html' %}


{% block content %}
		<h2 class="mt-5">Latest Activities</h2>

		{% if latest_article_list %}
		   
			{% for article in latest_article_list %}
		
				<h5 class="card-title" style="font-size: 16px; color: black"><a href="/articles/{{ article.id }}/">{{ article.title }}</a></h5>
				<!-- <h6 class="card-subtitle mb-2 text-muted">{{ article.category }}</h6> -->
				<p class="card-text" style="font-size: 12px; color: gray">{{ article.text | truncatewords:30 }}</p>
			
	
			{% if article.title == latest_article_list.2.title %}
			
			{% endif %}
			{% endfor %}
		 
		{% else %}
			<p>No articles are available.</p>
		{% endif %}
{% endblock %}




